$green: #0A3200;
$blue: #1D737A;
$red: #E93A2F;
$light-green: #BAB363;
$pale-green: #CBA762;

$primary: $green;
$link: $red;
$info: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import '~bulma/bulma'
